<launch>
    <!-- Activate the lane detector node using video   -->
    <node name="lane_follower_node" pkg="lane_follower" type="lane_detector_node.py" output="screen">
        <param name="visualization" value="true" />
        <param name="use_video" value="true" />
        <param name="video_path" value="/catkin_ws/src/lane_follower/assest/Line_follower.mp4" />
    </node>

    <!--Activate the control node -->
    <node name="control_node" pkg="lane_follower" type="control_node.py" output="screen">
        <param name="base_speed" value="100" />
        <param name="max_pwm" value="255" />
        <param name="min_pwm" value="0" />
        <param name="k_p" value="0.5" />
        <param name="deadzone" value="10" />
    </node>
</launch>
